<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="My Maven Project Automation">


  <listeners>

<listener class-name="com.rediff.qa.util.ExtentReporterNG"/>

</listeners>


<test name="Rediff Mail Test Cases">


<classes>

<class name="com.rediff.qa.test.HomePageTest"/>

</classes>

</test>

</suite>